[output_pin RELAY_PIN]
#configure the relay signal pin SKRpro V1.2 EXT1 port
pin = PF10

[gcode_macro _TURNOFF_MAINS]
#change relays state to off
gcode:
  SET_PIN PIN=RELAY_PIN VALUE=1


[gcode_macro TURNOFF_AFTERPRINT]
#if the hotend temperature falls below 50, mains is switched off
gcode:
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM=0 MAXIMUM=50
  _turnoff_mains  

[output_pin caselight]
pin: PF7
value: 0.20 #startup value
shutdown_value: 0
pwm: True
cycle_time: 0.01  



